html,
body {
  margin: 0;
  padding: 0;
  background-color: "#F3F3FB";
}

:root:root {
  --adm-color-primary: #ea2629;
}

a {
  text-decoration: none;
}

.adm-card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05),
    0 3px 14px 3px rgba(0, 0, 0, 0.05), 0 4px 5px 0 rgba(0, 0, 0, 0.05);
}
